*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-image: linear-gradient(black,green);
}
.form{
    width: 90%;
    max-width: 450px;
    position: relative;
    top: 80px;
    left: 25%;
    background:white;
    padding: 50px 60px 70px;
    text-align: center;
}
.form h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: blue;
    position: relative;
}
.form h1::after{
    content: '';
    width: 50px;
    height: 4px;
    border-radius: 3px;
    background: blue;
    position: absolute;
    bottom: -12px;
    left: 45%;
}
.input-field{
    background: rgb(199, 198, 198);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    padding: 18px 15px;
}
form p{
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color: blue;
}


button{
    background: green;
    color: white;
    height: 40px;
    border: 0;
    cursor: pointer;
    width: 20%;
    border-radius: 20px;
    margin-top: 20px;
}
button::after{
    margin-top: 20px;
}
